@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fef9f8;
}

/* ! HEADER Section */
@media (min-width: 421px) {
  .mobile-header {
    display: none;
  }
}

@media (max-width: 420px) {
  .mobile-header {
    position: fixed;
    left: 10px;
    margin-top: 10px;
    z-index: 10;
  }
}

.backdrop {
  position: fixed;
  background-color: black;
  opacity: 70%;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mobile-header div {
  width: 40px;
  height: 5px;
  background-color: #eb9a7f;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  margin: 6px 0;
}

.not-visible {
  display: none !important;
}

.active .mobile-header__bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.active .mobile-header__bar-2 {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.active .mobile-header__bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-content {
  width: 100vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 9;
}

.header-content__item {
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
  font-weight: bolder;
  color: #eb9a7f;
  text-shadow: 5px 5px 5px black;
  text-decoration: none;
}

.main-header {
  border-top: 10px solid #ef9273;
  background: #fef9f8;
  padding: 20px;
  width: 100%;
  border-bottom: 5px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  .main-header {
    display: none;
  }
}

.main-header .main-header__logo {
  /* display: inline-block;
    vertical-align: middle; */
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  font-weight: bolder;
}

.main-header__logo a {
  color: #0d0d0d;
  text-decoration: none;
}

.main-header__logo a img {
  width: 60px;
  height: 60px;
}

/*.main-header .main-nav {
    display: inline-block;
    width: calc(100% - 140px);
    vertical-align: middle;
    text-align: right; */
/* display: flex;
    flex-direction: row; 
    align-items: center;
}*/
.main-nav__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* .main-nav__item {
    display: inline-block;
    white-space: nowrap; 
} */
.main-nav__item:nth-child(1),
.main-nav__item:nth-child(2) {
  margin-right: 25px;
}

.main-nav__item a {
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  color: #0d0d0d;
  text-decoration: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .li-first {
    margin-right: 25px;
} */
.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fef9f8;
  background: #ef9273;
  border-radius: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  /* tranzicija elementa iz jednog u drugo stanje */
}

.hero-wrapper {
  /* height: 500px; */
  /* border: 1px solid red; */
  /* margin: 15px; */
  /* background-color: #7c544d; */
  padding: 20px;
  font-family: "Courier Prime", monospace;
  width: 100%;
  height: 80vh;
  background-image: url("./assets/images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-name: slider;
          animation-name: slider;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media (max-width: 768px) {
  .hero-wrapper {
    height: 70vh;
    background-image: url("./assets/images/hero-img-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: none;
            animation: none;
  }
}

.hero-wrapper h1 {
  margin: 0;
  font-family: "Courier Prime", monospace;
  font-size: 3.5rem;
  color: #e9baab;
  text-shadow: 3px 3px 3px black;
}

@media (max-width: 768px) {
  .hero-wrapper h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {
  .hero-wrapper h1 {
    margin-top: 50px;
  }
}

/* ! PLANS Section */
.plans-wrapper {
  margin: 50px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plans-wrapper .plans-wrapper__title {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "Courier Prime", monospace;
  font-size: 2.5em;
  letter-spacing: 5px;
  /* dodaje razmak izmedju slova */
  text-shadow: 3px 3px #eb9a7f;
  /* dodaje senku iza svakog slova nekog teksta */
}

.plans-wrapper .plans-wrapper__article {
  border: 1px solid black;
  padding: 50px 35px;
  background: #f9e0d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 350px;
  /* definise minimalnu sirinu elementa */
  border-radius: 25px;
  border: 3px solid black;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 4px 3px #4d4d4d;
          box-shadow: 5px 5px 4px 3px #4d4d4d;
  /* dodaje senku iza box-a (moze i ka unutra uz inset) */
}

.advanced {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 650px;
  min-height: 700px;
  /* minimalna visina, bice izmenjeno u radu sa responsivnesom */
  background: #eb9a7f !important;
}

.intermediate {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.plans-wrapper__article h1:nth-child(1) {
  font-family: "Courier Prime", monospace;
  font-weight: bolder;
  font-size: 35px;
  letter-spacing: 5px;
  text-shadow: 3px 3px 3px #e9baab;
}

.plans-wrapper__article h1:nth-child(2) {
  font-family: "Courier Prime", monospace;
  font-weight: bold;
  font-size: 28px;
  text-shadow: 3px 3px 3px #e9baab;
  letter-spacing: 3px;
  text-decoration: underline;
  text-align: center;
  text-underline-offset: 5px;
  /* definise razmak izmedju teksta i underline-a */
}

.plans-wrapper__article h2 {
  font-family: "Courier Prime", monospace;
  text-shadow: 3px 3px 3px #e9baab;
}

.plans-wrapper__article h3 {
  font-family: "Courier Prime", monospace;
  text-align: center;
  font-size: 23px;
  text-shadow: 3px 3px 3px #e9baab;
}

.plans-wrapper__article ul {
  list-style-type: circle;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.plans-wrapper__article ul li {
  font-family: "Source Code Pro", monospace;
  font-size: 19px;
  font-weight: bold;
  text-shadow: 3px 3px 3px #e9baab;
}

.choose-plan__button {
  margin-top: 20px;
}

.choose-plan__button button {
  padding: 10px 25px;
  font-family: "Courier Prime", monospace;
  border: 1px solid black;
  font-size: 18px;
  background: #e9baab;
  border-radius: 10px;
}

.choose-plan__button button:hover {
  cursor: pointer;
  background: #f9ece8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /* vreme i nacin implementacije tranzicije na hover dugmeta */
}

/* ! About Section */
.about-wrapper {
  margin-top: 100px;
  padding: 50px 0;
  background: #eb9a7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-wrapper__title {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "Courier Prime", monospace;
  font-size: 45px;
  letter-spacing: 5px;
  text-shadow: 3px 3px 3px #e9baab;
}

.about-wrapper__text {
  font-family: "Courier Prime", monospace;
  text-align: center;
  width: 50%;
  font-size: 22px;
  text-shadow: 1px 1px 3px #ddd7;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .about-wrapper__text {
    font-size: 1em;
    text-align: center;
    width: 80%;
  }
}

.about-wrapper__founders {
  width: 60%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 768px) {
  .about-wrapper__founders {
    text-align: center;
  }
}

.about-wrapper__founders-card {
  width: 550px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-wrapper__founders-card img {
  border: 3px solid #ddd7d6;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 4px 3px #4d4d4d;
          box-shadow: 5px 5px 4px 3px #4d4d4d;
}

@media (max-width: 768px) {
  .about-wrapper__founders-card img {
    width: 300px;
    height: 300px;
  }
}

.about-wrapper__founders-card h1 {
  font-size: 35px;
  text-shadow: 3px 3px 3px #e9baab;
  font-family: "Source Code Pro", monospace;
}

.about-wrapper__founders-card h3 {
  font-size: 25px;
  text-shadow: 3px 3px 3px #e9baab;
  font-family: "Source Code Pro", monospace;
}

.about-wrapper__founders-card p {
  font-family: "Courier Prime", monospace;
  padding: 25px;
  width: 75%;
  text-align: center;
  font-size: 18px;
  text-shadow: 2px 2px 3px #ddd7d6;
}

/* ! Footer section */
.main-footer {
  background-color: #fef9f8;
  border-top: 3px solid white;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__nav {
  width: 20%;
}

@media (max-width: 768px) {
  .main-footer__nav {
    width: 100%;
  }
}

.main-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

@media (max-width: 768px) {
  .main-footer__list {
    padding: 0;
  }
}

.main-footer__list li a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
}

.main-footer__list li a:hover {
  cursor: pointer;
}

/* ! Animacije */
@-webkit-keyframes slider {
  0% {
    background-image: url("./assets/images/hero-image.jpg");
  }
  33% {
    background-image: url("./assets/images/hero-image2.jpg");
  }
  66% {
    background-image: url("./assets/images/hero-image3.jpg");
  }
  99% {
    background-image: url("./assets/images/hero-image.jpg");
  }
}
@keyframes slider {
  0% {
    background-image: url("./assets/images/hero-image.jpg");
  }
  33% {
    background-image: url("./assets/images/hero-image2.jpg");
  }
  66% {
    background-image: url("./assets/images/hero-image3.jpg");
  }
  99% {
    background-image: url("./assets/images/hero-image.jpg");
  }
}
/*# sourceMappingURL=styles.css.map */