@import url('../shared.css');

body {
    background: linear-gradient(135deg, #cac8c8 30%, #e9baab);
}

.team-title-wrapper {
    text-align: center;
    margin-top: 50px 0;
}
.team-title-wrapper__title {
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5rem;
    text-shadow: 3px 3px 2px #d47657;
}
.team-wrapper__teacher-about h1,
.team-wrapper__teacher-about h3 {
    font-family: 'Source Code Pro', monospace;
    text-shadow: 4px 4px 4px #d47657;
}
.team-wrapper__teacher-about p {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 3px #d47657;
}
@media screen and (max-width: 768px) { 
    .team-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .team-wrapper__teacher {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .team-wrapper__teacher-img img {
       width: 100%;
       box-shadow: 7px 7px 5px black; 
    }
    .even-card-about {
        text-align: right;
    }
}

@media screen and (min-width: 769px) {
    .team-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .team-wrapper__teacher {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;
    }
    .team-wrapper__teacher-img img {
        width: 100%;
        max-width: 600px;
        min-height: 450px;
        box-shadow: 11px 11px 11px black;
    }
    .team-wrapper__teacher-about {
        width: 40%;
    }
    .even-teacher-card {
        display: flex;
        flex-direction: row-reverse;
    }
    .even-card-about {
        text-align: right;
    }
}