@import 'mixins';

header {
    nav {
        background-color: orange;
        ul {
            list-style-type: none;
            @include flexMixin(space-between, wrap);
            li {
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}