@import url('../styles.css');

.courses-wrapper {
    padding: 50px;
    margin: 0;
    width: 100%;
    background-image: url('../assets/courses-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9; /* moze i u procentima (npr. 95%), odredjuje prozirnost nekog elementa */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.courses-wrapper-course {
    position: relative;
    border: 5px solid #ef9273;
    width: 50%;
    background: #fef9f8;
    padding: 50px;
    margin-bottom: 20px;
    min-width: 300px;
    min-height: 250px;
    /* 
        max-width: 750px;
        max-height: 650px;
    */
}

.courses-wrapper-course:hover {
    border-color: #ecc6b9;
    transition: 0.3s ease;
    cursor: pointer;
}

.courses-wrapper-course ul {
    list-style-type: circle;
}

.courses-wrapper-course h1 {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.courses-wrapper-course h3, ul, p {
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    /* line-height: 10px; */ /* definise velicinu razmaka izmedju redova teksta */
}

.courses-wrapper-course h3 {
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background: #e28e72;
}

.advanced-course {
    order: 1;
}

.intermediate-course {
    order: 3;
}

.basic-course {
    transform: translateX(1) scale(1,1);
    transition: transform 0.5s ease-in-out;
    order: 2;
    align-self: flex-end;
}

.basic-course:hover {
    transform: translateX(-50%) scale(1.2, 1.1);
}

.advanced-course,
.intermediate-course {
    transform: translateX(1) scale(1, 1);
    transition: transform 0.5s ease-in-out;
}

.advanced-course:hover,
.intermediate-course:hover {
    transform: translateX(50%) scale(1.2, 1.1);
}

@media screen and (max-width: 768px) {
    .courses-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intermediate-course {
        align-self: center;
    }
    .courses-wrapper__course {
        text-align: center;
    }
    .advanced-course .recommended {
        position: static;
        text-align: center;
    }
    .courses-wrapper__course ul {
        padding: 0;
    }
    .courses-wrapper__course ul li {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-align: left;
    }
    .basic-course,
    .intermediate-course,
    .advanced-course {
        transform: none;
    }
    .basic-course:hover,
    .intermediate-course:hover,
    .advanced-course:hover {
        transform: none;
    }
}