$headerAndFooterBackgroundColor: #fef9f8;
$cardColor: #e9baab;
$cardColorDarken: #eb9a7f;
$cardBorder: 5px solid #ef9273;
$blackBorder: 1px solid black;
$transitionEaseInOut: 0.3s ease-in-out;
$courierPrime: 'Courier Prime', monospace;
$sourceCodePro: 'Source Code Pro', monospace;
$textShadowBlack: 3px 3px 3px black;
$textShadowLight: 3px 3px 3px #e9baab;
$boxShadowLight: 3px 3px 3px 3px #e9baab;
$boxShadowDark: 5px 5px 4px 3px lighten(black, 20%);
