@import 'breakpoints';
@import 'variables';
@import 'mixins';

.hero-wrapper {
    height: 50vh;
    background: $mainTitleColor;
    @include flexCenter(center, row);

    @include media('<=phone') {
        background: $subTitleColor;
    }

    @include media('>=phone', '<=tablet') {
        background: lighten($mainTitleColor, 20%);
    }

    @include media('>desktop') {
        background: darken($mainTitleColor, 10%);
        h1::before {
            content: 'Watching on Desktop '
        }
    }

    @include media('>TV') {
        h1::before {
            content: none;
        }
        h1::after {
            content: ' watching on TV'
        }
    }

}