@import url("../styles.css");
@import url("../enrollment/enrollment.css");
body {
  background: linear-gradient(135deg, #cac8c8 30%, #e9baab);
}

@media (max-width: 768px) {
  .team-title-wrapper {
    /* text-align: center; */
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-title-wrapper h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px #e9baab;
  }
  .team-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .team-wrapper__teacher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .team-wrapper__teacher-img img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 4px 3px #4d4d4d;
            box-shadow: 5px 5px 4px 3px #4d4d4d;
  }
  .team-wrapper__teacher-about h1,
  .team-wrapper__teacher-about h3 {
    font-family: "Source Code Pro", monospace;
    text-shadow: 3px 3px 3px #e9baab;
  }
  .team-wrapper__teacher-about p {
    font-family: "Courier Prime", monospace;
    text-shadow: 3px 3px 3px #e9baab;
  }
  .even__teacher-about {
    text-align: right;
  }
  .form-wrapper {
    background: none;
  }
  .form-wrapper__form label {
    text-shadow: 3px 3px 3px #e9baab;
    color: black;
  }
  .form-wrapper__form h3 {
    color: black;
    text-shadow: 3px 3px 3px #e9baab;
  }
}

@media (max-width: 420px) {
  .team-title-wrapper {
    /* text-align: center; */
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 769px) {
  .team-title-wrapper {
    /* text-align: center; */
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-title-wrapper h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px #e9baab;
  }
  .team-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .team-wrapper__teacher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 80px;
  }
  .team-wrapper__teacher flex {
    direction: row;
  }
  .team-wrapper__teacher-img {
    margin: 0 50px;
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  .team-wrapper__teacher-img img {
    width: 100%;
    max-width: 500px;
    max-height: 450px;
    -webkit-box-shadow: 5px 5px 4px 3px #4d4d4d;
            box-shadow: 5px 5px 4px 3px #4d4d4d;
  }
  .team-wrapper__teacher-about {
    width: 40%;
  }
  .odd__teacher-about {
    text-align: right;
  }
  .team-wrapper__teacher-about h1,
  .team-wrapper__teacher-about h3 {
    font-family: "Source Code Pro", monospace;
    text-shadow: 3px 3px 3px #e9baab;
  }
  .team-wrapper__teacher-about p {
    font-family: "Courier Prime", monospace;
    text-shadow: 3px 3px 3px #e9baab;
    font-size: 1.2rem;
  }
  .even__teacher-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .even__teacher-about {
    text-align: left;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form-wrapper {
    background: none;
  }
  .form-wrapper__form label {
    text-shadow: 3px 3px 3px #e9baab;
    color: black;
  }
  .form-wrapper__form h3 {
    color: black;
    text-shadow: 3px 3px 3px #e9baab;
  }
}
/*# sourceMappingURL=team.css.map */