@import url('../styles.css');

.courses-wrapper {
    padding: 50px;
    margin: 0;
    width: 100%;
    background-image: url('../assets/courses-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.courses-wrapper__course {
    position: relative;
    z-index: 0;
    border: 5px solid #ef9273;
    width: 50%;
    background: #fef9f8;
    padding: 25px;
    margin-bottom: 20px;
    opacity: 0.85;
    min-width: 300px; /* definisanje minimalne sirine nekog elementa */
    min-height: 250px; /* definisanje minimalne visine nekog elementa */
}

.courses-wrapper__course:hover {
    border-color: #e9c9bf;
    cursor: pointer;
    transition: 0.3s ease;
}

.courses-wrapper__course h1 {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.courses-wrapper__course ul {
    list-style-type: circle;
}

.courses-wrapper__course ul,p {
    font-size: 0.9rem;
    /* font-size: 1.2em */
    font-family: 'Courier Prime', monospace;
}

.advanced-course {
    order: 1;
}

.basic-course {
    transform: translateX(1) scale(1,1);
    transition: transform 0.5s ease-in-out;
    order: 2;
    align-self: flex-end;
}

.basic-course:hover {
    transform: translateX(-50%) scale(1.2, 1.1);
}

.intermediate-course {
    order: 3;
}

.advanced-course,
.intermediate-course {
    transform: translateX(1) scale(1,1);
    transition: transform 0.5s ease-in-out;
}

.intermediate-course:hover,
.advanced-course:hover {
    transform: translateX(50%) scale(1.2, 1.1);
}

.advanced-course .recommended {
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background: #ec7f5a;
    position: absolute;
    z-index: -1;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 768px) {
    .courses-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .basic-course {
        align-self: center;
    }
    .courses-wrapper__course {
        text-align: center;
    }
    .advanced-course .recommended {
        position: static;
        text-align: center;
    }
    .courses-wrapper__course ul {
        padding: 0;
    }
    .courses-wrapper__course ul li {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
    .advanced-course,
    .intermediate-course,
    .basic-course {
        transform: none;
    }
    .advanced-course:hover,
    .intermediate-course:hover,
    .basic-course:hover {
        transform: none;
    }
}